* {
    margin: 0;
    padding: 0;
}


.container {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

.del {
    background-color: orange;
}

.minus {
    background-color: orange;
}

.samadengan {
    background-color: orange;
}

.button-c {
    background-color: orange;
}

.persen {
    background-color: orange;
}

.container .result-hasil {
    width: 800px;
    margin: auto;
    background-color: black;
    color: white;
    height: 90px;
    font-size: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding-right: 15px; */
}

.container .result-hasil p{
    padding: 10px;
}

.container .pembungkus {
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container .pembungkus button {
    width: 200px;
    height: 50px;
}

.container .pembungkus .button-0 {
    width: 600px;
}



@media (max-width: 992px)
{
    .container {
        width: 800px;
        height: 1300px;
        margin: 50px auto;
    }
    
    .container .pembungkus {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        margin: auto;
    }
    
    .container .pembungkus button {
        width: 200px;
        height: 200px;
        font-size: 80px;
    }

    .container .pembungkus .button-0 {
        width: 600px;
    }

    .container .result-hasil {
        width: 800px;
        height: 300px;
        font-size: 200px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}



@media screen and (max-width: 578px)
{
    .container {
        width: 400px;
        height: 300px;
    }

    .container .result-hasil {
        width: 400px;
        height: 100px;
        font-size: 35px;
    }

    .container .pembungkus .button-0 {
        width: 300px;
        height: 80px;
    }

    .container .pembungkus {
        width: 400px;
       
    }

    .container .pembungkus button {
        width: 100px;
        height: 80px;
        font-size: 14px;
    }
}


