
* {
    padding: 0;
    margin: 0;
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 35px;
    border-radius: 25px;
    background-color: beige;
    box-shadow: 20px 1px 25px #888888;
}

.container .result-hasil {
    text-align: right;
    width: 799px;
    border-radius: 25px;
    height: 70px;
    margin: auto;
    font-size: 35px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container .result-hasil p {
    padding-right: 20px;
    color: white;
}


.container .pembungkus {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.container .pembungkus .calc-row {
    /* border: 1px solid black; */
    padding: 5px 5px;
}

.container .pembungkus button {
    width: 150px;
    height: 60px;
    font-size: 20px;
   
}

.container .pembungkus .button-0 {
    width: 310px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.container .pembungkus .persen {
    width: 305px;
    margin-left: 12px;
}


.del {
    background-color: orange;
}

.minus {
    background-color: orange;
}

.samadengan {
    background-color: orange;
}

.button-c {
    background-color: orange;
}



@media screen and (max-width: 761px)
{
    .container {
        width: 80%;
    }

    .container .result-hasil {
        width: 525px;
    }

    .container .pembungkus button {
        width: 90px;
        height: 90px;
    }

    .container .pembungkus .button-0 {
        width: 90px;
        margin-left: 5px;

    }

    .container .pembungkus .persen {
        width: 280px;
    }
}


@media screen and (max-width: 576px)
{

    .container {
        width: 90%;
        margin-top: 2px;
        box-shadow: 10px 1px 25px #888888;
    }

    .container .pembungkus {
        width: 80%;
    }
    .container .pembungkus button {
        width: 200px;
        height: 60px;
        font-size: 20px;
       
    }

    .container .pembungkus .button-0 {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .container .pembungkus button {
        width: 66px;
        height: 90px;
        font-size: 20px;
        font-size: 30px;
       
    }

    .container .result-hasil {

        width: 100%;
        justify-content: end;
    }


    .container .result-hasil input {
        width: 350px;
    }

    .container .pembungkus .button-0 {
        width: 80px;
        /* margin-right: 15px; */
    }

    .container .pembungkus .persen {
        width: 200px;
    }
}